.nav-tabs.nav-justified {
    width: 100%;
    border-bottom: 0;
}
.nav-tabs {
    background: #eee;
    border: 0;
    -moz-border-radius: 3px 3px 0 0;
    -webkit-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
    border: 1px solid #ddd;
    border-bottom: 0;
}
.nav-justified {
    width: 100%;
}
.nav-tabs {
    border-bottom: 1px solid #ddd;
}
.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
ul, ol {
    margin-top: 0;
    margin-bottom: 10px;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.nav-tabs.nav-justified>li {
    display: table-cell;
    width: 1%;
}
.nav-tabs.nav-justified>li {
    float: none;
}

.nav-justified>li {
    display: table-cell;
    width: 1%;
}
.nav-justified>li {
    float: none;
}
.nav-tabs>li {
    float: left;
    margin-bottom: -1px;
}
.nav>li {
    position: relative;
    display: block;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
.nav-justified>li>a {
    margin-bottom: 5px;
    text-align: center;
}
.nav-tabs>li>a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
}
.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
}
a {
    outline: none !important;
}
a {
    color: #428bca;
    text-decoration: none;
}
a {
    background: 0 0;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}
.row {
    margin-left: -10px;
    margin-right: -10px;
}
.row {
    margin-right: -15px;
    margin-left: -15px;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.clearfix:before, .clearfix:after, .dl-horizontal dd:before, .dl-horizontal dd:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after, .form-horizontal .form-group:before, .form-horizontal .form-group:after, .btn-toolbar:before, .btn-toolbar:after, .btn-group-vertical>.btn-group:before, .btn-group-vertical>.btn-group:after, .nav:before, .nav:after, .navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .navbar-collapse:before, .navbar-collapse:after, .pager:before, .pager:after, .panel-body:before, .panel-body:after, .modal-footer:before, .modal-footer:after {
    display: table;
    content: " ";
}
.row  img{
margin-left:20px;

}
.pageheader {
    padding: 20px;
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
    height: 90px;
    -webkit-box-shadow: 0 2px 3px rgba(0,0,0,0.03);
    box-shadow: 0 2px 3px rgba(0,0,0,0.03);
}
.pageheader .media {
    padding: 0;
    clear: both;
}
.media-body {
    overflow: hidden;
    zoom: 1;
}
.pageheader h4 {
    margin: -2px 0 0 0;
    font-size: 28px;
    font-weight: 500;
    color: #2f363d;
    line-height: normal;
}

.clearfix:before, .clearfix:after, .dl-horizontal dd:before, .dl-horizontal dd:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after, .form-horizontal .form-group:before, .form-horizontal .form-group:after, .btn-toolbar:before, .btn-toolbar:after, .btn-group-vertical>.btn-group:before, .btn-group-vertical>.btn-group:after, .nav:before, .nav:after, .navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .navbar-collapse:before, .navbar-collapse:after, .pager:before, .pager:after, .panel-body:before, .panel-body:after, .modal-footer:before, .modal-footer:after {
    display: table;
    content: " ";
}
.col-md-6 {
    width: 50%;
    padding-left: 10px;
    padding-right: 10px;
    float: left;
}
.mb30 {
    margin-bottom: 30px;
}
.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}
thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
    text-align: middle;
}
tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
    
}


td {
   
    text-align: center;
}

.ui-slider-horizontal {
   width:650px;
  
    
}
.ui-slider {
    background: rgba(17,18,18,0.1);
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
.ui-slider-horizontal {
    height: .8em;
}
.ui-slider {
    position: relative;
    text-align: left;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


div {
    display: block;
}
.ui-slider .ui-slider-range {
    position: absolute;
    z-index: 1;
    font-size: .7em;
    display: block;
    border: 0;
    background-position: 0 0;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.ui-slider .ui-slider-handle {
    background: #999;
    border: 5px solid #fff;
    width: 16px;
    height: 16px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    top: -0.4em;
    cursor: pointer;
    -moz-box-shadow: 0 0 2px rgba(0,0,0,0.4);
    -webkit-box-shadow: 0 0 2px rgba(0,0,0,0.4);
    box-shadow: 0 0 1px 1px rgba(0,0,0,0.3);
}
.ui-slider-horizontal .ui-slider-handle {
    top: -.3em;
    margin-left: -.6em;
}
.ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 1.2em;
    height: 1.2em;
    cursor: pointer;
}
.ui-slider .ui-slider-range {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background: #4e5154;
}
.ui-slider-horizontal .ui-slider-range-max {
    right: 0;
}
.ui-slider-horizontal .ui-slider-range {
    top: 0;
    height: 100%;
}
a {
    outline: none !important;
}
a {
    color: #428bca;
    text-decoration: none;
}
a {
    background: 0 0;
}
a:focus{
    outline-offset:-2px;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
a {
    outline: none !important;
}
a {
    color: #428bca;
    text-decoration: none;
}
a {
    background: 0 0;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}
.ui-slider .ui-slider-range {
    position: absolute;
    z-index: 1;
    font-size: .7em;
    display: block;
    border: 0;
    background-position: 0 0;
}
.col-md-6x {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    float: left;
}
.col-md-6s {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    float: left;
    background:#302f37;
}
.col-md-6s td{
    color:grey;
}
 
